# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints/

# Virtual environment
cs4120-env/
venv/
.env/

# MLflow artifacts (large logs)
mlruns/.trash/
mlruns/*/artifacts/

# OS files
.DS_Store
Thumbs.db
